.featured-products {
  flex: 1;
  margin-bottom: 6rem;

  h2,
  .subtitle {
    text-align: center;
  }

  h2 {
    margin-bottom: 0.375rem;
  }

  .subtitle {
    margin-bottom: 3rem;
  }

  .btn {
    margin: 0 auto;
  }

  .products {
    margin-bottom: 3rem;
  }
}
